bin/Debug/net7.0/phone-system.deps.json
bin/Debug/net7.0/phone-system.dll
bin/Debug/net7.0/phone-system.exe
bin/Debug/net7.0/phone-system.pdb
bin/Debug/net7.0/phone-system.runtimeconfig.json
obj/phone-system.csproj.nuget.dgspec.json
obj/phone-system.csproj.nuget.g.props
obj/phone-system.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/phone-system.AssemblyInfo.cs
obj/Debug/net7.0/phone-system.AssemblyInfoInputs.cache
obj/Debug/net7.0/phone-system.assets.cache
obj/Debug/net7.0/phone-system.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/phone-system.csproj.FileListAbsolute.txt
obj/Debug/net7.0/phone-system.dll
obj/Debug/net7.0/phone-system.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/phone-system.genruntimeconfig.cache
obj/Debug/net7.0/phone-system.GlobalUsings.g.cs
obj/Debug/net7.0/phone-system.pdb
obj/Debug/net7.0/ref/phone-system.dll
obj/Debug/net7.0/refint/phone-system.dll
